.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.App h1 {
  color: #333;
  margin-bottom: 10px;
}

.App h2 {
  color: #666;
  font-size: 18px;
}

input[type="text"] {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
}

.restaurant-card {
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.restaurant-details {
  margin-bottom: 16px;
}

.restaurant-card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.restaurant-card button:hover {
  background-color: #0056b3;
}

button {
  background-color: rgb(15, 144, 15);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2bc02d;
}
